@model IEnumerable<RegistroCidades.Models.Cidade>
@{
    ViewData["Title"] = "Cidades";
}
<h1>Cidades</h1>
<button class="btn btn-secondary">
    <a asp-action="Criar">Criar...</a>
</button>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UF.Sigla)
            </th>            
            <th>
                @Html.DisplayNameFor(model => model.Regiao.Descricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CodIBGE)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Latitude)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Longitude)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <th>
                @Html.DisplayFor(model => item.UF.Sigla)
            </th>
            <th>
                @Html.DisplayFor(model => item.Regiao.Descricao)
            </th>
            <th>
                @Html.DisplayFor(model => item.CodIBGE)
            </th>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Latitude)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Longitude)
            </td>
            <td>
                <a asp-action="Editar" asp-route-id="@item.CodIBGE">Editar</a> |
                <a asp-action="Excluir" asp-route-id="@item.CodIBGE">Excluir</a>
            </td>
        </tr>
        }
    </tbody>
</table>
